footer {

    min-height: 65vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer .first_part {

    width: 80%;
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    align-items: center;

}

.half
{
    width:80%;
}
#interpart
{
    width: 30%;
    height: 20vh;
    display:none;

    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

#sub_button{

    transition: transform 0.5s;
}

footer .first_part .dropdown-content{

    width:inherit;
    height:200px;
    display:flex;
}

footer .first_part a 
{
    color: white;
    text-decoration: none;
}

.first_part .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 30%;
    height: 100%;

    color: white;
    font-size: 16px;
}

.first_part .social {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    min-width: 20%;

    color: white
}

footer .second_part{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width:80%;
    height:30vh;

    
}

.second_part .article{

    display: flex;
    flex-direction: column;

}

.second_part p.titre
{
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color:white;

}

.second_part a{

    color: gray;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width:800px){

footer .first_part{

    flex-direction: column;
}

footer .second_part {

    flex-direction: column;
}

}